In [20]:
import pandas as pd
import numpy as np

### Calculating total averages for table_3

In [21]:
def calc_accuracy_with_str(df,col_name):
    nums = []
    for value in df[col_name]:
        value = str(value)
        first_four = float(value[:4])
        nums.append(first_four)
    average_accuracy_base = np.mean(nums)
    return average_accuracy_base

In [22]:
df = pd.read_csv('../data/table_3.csv')
df = df[df['Subgroup ID']!= 'Team']
average_accuracy_base = calc_accuracy_with_str(df, df.columns[2])
average_accuracy_meta = calc_accuracy_with_str(df, df.columns[3])
average_number_of_features = int(df[df.columns[4]].mean())
new_row = pd.DataFrame({'Subgroup ID': ['team'], df.columns[2]: [average_accuracy_base], df.columns[3]: [average_accuracy_meta], df.columns[4]: [average_number_of_features]})
df = pd.concat([df, new_row], ignore_index=True)
df

,Subgroup ID,Name of Student,Average accuracy score base models [TT(TF)],accuracy score Meta model [TT(TF)],N_features
0,0,Shyam Parikh,0.97[2006(46)],1.00[2007(109)],6
1,team,NaN,0.97,1.0,6